.aboutUs {
    display: flex;
    flex-direction: column;
    gap: 90px;
    background-image: url('/src/assets/images/flowers.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
}

.aboutHeader {
    text-align: center;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 50px;
    font-weight: 400;
    z-index: 1;
}

.aboutInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.aboutBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px;
}

.aboutDescription, .founderInfoContainer, .teamJoin {
    border: 7px solid #F0D1E6;
    border-radius: 20px;
    background: #fff;
}

.aboutDescription {
    width: 877px;
    padding: 20px;
    z-index: 1;
}

.aboutText, .aboutHeadingStyle, .founderText, .founderName, .teamJoinHeading {
    font-family: "Alegreya Sans", sans-serif;
}

.aboutText {
    font-size: 22px;
    font-weight: 400;
}

.aboutHeadingStyle {
    font-size: 30px;
    font-weight: 500;
}

.founderInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.flowerAvatar {
    margin-bottom: 40px;
}

.founderInfoContainer {
    width: 400px;
    height: 85px;
}

.founderText {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 10px;
}

.founderName {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.teamJoin {
    width: 420px;
    height: 60px;
    background: #F0D1E6;
}

.teamJoinHeading {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    padding: 8px;
}
