.shop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 150px;
}

.shopInfo {
    box-sizing: border-box;
    width: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.welcomeMessage {
    font: 500 40px "Alegreya Sans";
    color: black;
    margin: 0;
}

.welcomeMessageHeading {
    font: 400 30px "Alegreya Sans";
    color: black;
    margin: 0;
}

.floralServicesSection {
    display: flex;
    flex-direction: column;
    max-width: 371px;
    gap: 10px;
}

.floralHeading {
    font: 400 25px "Alegreya Sans", sans-serif;
    color: black;
    margin: 0;
}

.floralDescription {
    font: 400 20px "Alegreya Sans", sans-serif;
    color: black;
    margin: 0;
    padding-left: 35px;
}

.floralDescriptionBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.flowerIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    align-self: flex-start;
}

.floralName {
    display: flex;
    flex-direction: row;
}

.bouquetImage {
    width: 467px;
    height: 754px;
    z-index: 1;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('/src/assets/images/back.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
    box-sizing: border-box;
}

.listInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 279px;
}

.catalogDescription {
    font: 600 30px "Alegreya Sans", sans-serif;
    color: black;
}

.helperContent {
    background-image: url('/src/assets/images/block.png');
    background-size: 1340px 455px;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 110px;
    position: relative;
}

.helperText {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.helperHeading {
    color: black;
    font-family: "Cormorant Garamond-Regular", Helvetica;
    font-size: 70px;
    color: black;
    width: 850px;
}

.helperDescription {
    font: 400 30px "Alegreya Sans", sans-serif;
    color: black;
    margin: 0;
}

.helperImage {
    width: 330px;
    margin-top: 75px;
    right: 400px;
    position: absolute;
}

.contactButtonStyle {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 239px;
    min-width: 239px;
    height: 56px;
    margin-left: auto;
    margin-right: 0;
    font: 400 30px "Alegreya Sans", sans-serif;
    color: black;
    cursor: pointer;
    background: white;
    border: 3px solid #a4bea7;
    border-radius: 20px;
    position: absolute;
    bottom: 33px;
    right: 70px;
}

.liftedText {
    margin-top: -5px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 92%;
    border: 1px solid #a4bea7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.reviewText {
    font: 400 20px "Alegreya Sans", sans-serif;
    color: black;
    margin: 0;
}

.reviewAuthor {
    font: 400 16px "Alegreya Sans", sans-serif;
    color: #a4bea7;
    margin: 0;
}

.reviewsHeading {
    font: 500 40px "Alegreya Sans";
    color: black;
    margin: 0;
}

.reviewsSection {
    margin-left: 70px;
}